.carousel-control-next-icon::before{
color: #000 !important;
}
// .card{
// // border-color: black;;
// background-color:#eee;
// }
.content{
padding-top: 20px;
padding-left: 20px;
padding: 30px;
background-color:#eee;
border-style: outset;
text-align: center;
}
.cont{
// padding-left: 30px;
width: 200px;
height: 35px;
Overflow:hidden;
max-height: 6rem;
line-height: 2.5rem;
text-overflow: ellipsis;
white-space: nowrap;
text-align: center;
}
.span{
color: blue;
max-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:1px;
}
// .initial{
// margin-left: 150px
// }
img{
border-radius: 30px;
}